<h1>Chat</h1>
<form action="/chat" method="POST">
    <input type="text" name="user" placeholder="Seu e-mail">
    <input type="text" name="message" placeholder="Sua mensagem">
    <button type="submit">Enviar</button>
</form>