<h2>Login</h2>
<form action="/login" method="POST">
  <label>Email:</label><br />
  <input type="email" name="email" required /><br />
  <label>Senha:</label><br />
  <input type="password" name="password" required /><br />
  <button type="submit">Entrar</button>
</form>
<a href="/github">Login com GitHub</a>